{% extends 'base.html' %}
{% block title %}Home{% endblock%}


{% block body %}

<p>This is a Inventory Management App Created by KUNDAN CHAUHAN</p>
                <p>Key Feature of Inventory Management</p>
                <p>This is a Inventory Management App Created by KUNDAN CHAUHAN</p>
                <p>1. Add Customer</p>
                <p>2. Add rental booking</p>
                <p>3. View Customer List</p>
                <p>4. view Rental booking</p>
                <p>5. View Inventory</p>

{% endblock body %}